/**
*
* @name:       temmejs
* @version:    1.0.0
* @author:     EOussama
* @license     MIT
* @source:     https://github.com/EOussama/temmejs
* 
* The main stylesheet of the docs.
*
*/

:root {

    /* Default colors. */
    --color-dark: #22222c;
    --color-dark-light: #39393f;
    --color-gray: #808080;
    --color-light: #e4e4e4;

    /* Initial resets. */
    color: var(--color-dark);
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

main {
    margin: 80px auto;
    width: 70%;
    max-width: 800px;
}

/* #region Loader */
body.loader {
    overflow: hidden;
}

body.loader::after {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: load;
    animation-timing-function: linear;
    border: 4px solid var(--color-light);
    border-radius: 50%;
    border-left-color: var(--color-dark-light);
    box-sizing: border-box;
    content: "";
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

body.loader::before {
    background-color: var(--color-dark-light);
    box-sizing: border-box;
    content: "";
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* #endregion */

/* #region Containers */
.row-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* #endregion */

/* #region Header */
header {
    background: linear-gradient(to bottom right, var(--color-dark), var(--color-dark-light));
    height: 300px;
    padding: 100px;
}

header img.logo {
    width: 150px;
}

header .title {
    color: var(--color-light);
    margin: 20px 0 0 0;
}

header .subtitle {
    color: var(--color-gray);
    font-weight: 500;
    margin: 5px 0 50px 0;
}
/* #endregion */

/* #region Section */
section {
    background-color: var(--color-light);
    border: 1px solid var(--color-gray);
    border-radius: 2px;
    margin: 50px 0;
    padding: 10px 20px;
}

section p code {
    color: var(--color-gray);
    font-family: consolas, sans-serif;
    font-style: italic;
    padding: 2px 5px;
}
/* #endregion */
